 body {
     background: linear-gradient(90deg, #6652C3, #5AE6E0);
     /* background-color: #130F26; */
 }

 #titulo {
     font-family: 'Pokemon Solid', sans-serif;
     font-size: 10vw;
     color: #6652C3;
     text-shadow: 0 0 15px #6652C3, 0 0 30px #6652C3, 0 0 30px #6652C3, 0 0 30px #6652C3;
     -webkit-text-stroke: 2px #5AE6E0;
 }

 #pk {
     align-content: center;
     text-align: center;
 }

 .contenedor {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     grid-auto-rows: minmax(100px, auto);
     grid-gap: 20px;
 }

 .card {
     /* position: relative; */
     /* background-color: #FECC51; */
     background-color:lightblue;
     border-color: #130F26;
     border-style: solid;
     border-radius: 6px;
     padding: 10%;
     max-width: 100%;
     max-height: 1000%;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

 }

 .name {
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
     letter-spacing: 3px;
 }

 .pk_num {
     background-color: rgba(0, 0, 0, 0.1);
     padding: 5px 10px;
     border-radius: 10px;
     font-size: 0.8em;
 }

 .card:hover {
     background-color: gold;
     box-shadow: #5AE6E0;
     color: black;
     font-weight: bold;
     margin-top: -10px;
     margin-bottom: 10px;
     transition: 0s;
     filter: grayscale (0%);
     opacity: 1;

 }

 .encabezado {
     background-color: #130F26;
     height: 60px;
     position: fixed;
     width: 100%;
     top: 0;
     left: 0;
 }

 .nav {
     display: flex !important;
     list-style: none;
     justify-content: space-between !important;
 }

 .nav-menu {
     display: flex;
     list-style: none;

 }

 .nav-menu-item {
     font-size: 18px;
     margin: 0 10px;
     text-transform: uppercase;
     width: max-content;
 }

 .nav-link {
    color: white;
    font-family: 'Georgia';
    font-size: 17px;
    text-transform: uppercase;
     background-color: #130F26;
     text-decoration: none;
     list-style: none;
     list-style: none;
     margin-right: 70px;
     padding: 0 30px;
    display: flex;
 }

 .nav-menu-link {
     padding: 10px 15px;
     border-radius: 3px;

 }

 .nav-menu-link:hover {
     background-color: #2e265b;
     transition: 0.5s;
 }
 

 .sub1  {
    background-color: none;
    list-style-type: none;
    text-decoration: none;
    width: max-content;
    display: none;
    min-width: 140px;




 }

 .submenu1 {
     background-color:#130F26;
     color: white;
     list-style-type: none;
     text-decoration: none;
     font-family: "Georgia";
     position: center;
     line-height: 25px;
     display: none;
     min-width: 140px;
 }


 .submenu1:hover {
     background-color:#433978;
     transition: 0.5s;
     padding: 5px 10px;
     border-radius: 3px;
     display: block;

 }
 .nav li:hover >  .sub1, .submenu1 {
    display:block

 }
 .buscador{
    position:relative;
    padding: 5px;
    

    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #130F26;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
        
 /* }
 .buscador input{
    width: 240px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #130F26;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px; */

 /*